/* Reset and base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.order-details {
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.order-details h2 {
    color: #555;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.book {
    margin-bottom: 15px;
}

.book h4 {
    color: #333;
    font-size: 1.4em;
    margin-bottom: 5px;
}

.book p {
    color: #666;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.qrcode {
    margin: 0 auto;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h1 {
        font-size: 2em;
    }

    .order-details {
        padding: 15px;
    }

    .order-details h2 {
        font-size: 1.6em;
    }

    .book h4 {
        font-size: 1.3em;
    }

    .book p {
        font-size: 1.1em;
    }
}
